@{ ViewBag.Title = "Chủ Đề";
                Layout = "~/Views/Shared/_LayoutPage1.cshtml"; 
 }
@using WebBanSachFahasa.Models;
@{ 
    LOAIMATHANG cd = new LOAIMATHANG();
    LOAIQUYENCUANHANVIEN quyen = new LOAIQUYENCUANHANVIEN(); 
 }
<style>
    .form-inline {
        display: block;
    }
</style>
@if (quyen.getDataQuyenNV(Session["maad"].ToString(), "them_cd") == 1 || Session["maad"].ToString().Equals("admin"))
{
<button type="button" class="btn btn-outline-danger a" data-toggle="modal" data-target="#exampleModal">
    THÊM LOẠI MẶT HÀNG MỚI
</button>}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px; margin-left: -150px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                        </svg>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Mã Loại MH" aria-label="" aria-describedby="basic-addon1" required name="ma" id="ma">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        </svg>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Tên Loại MH" aria-label="Tên" aria-describedby="basic-addon1" required name="ten" id="ten">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <select class="form-control select2" name="loai" id="loaimathang">
                                @{ var menunmh = cd.getData();
                                                foreach (var item in menunmh)
                                                {
                                    <option value="@item.ID" style="width:100px">@item.Ten &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option> } }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p id="erro" style="color: red"></p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="them" value="them" id="saveCD">Save changes</button>
            </div>
        </div>
    </div>
</div>
<table id="example" class="table">
    <thead>
        <tr>
            <td>
                STT
            </td>
            <td>
                Mã
            </td>
            <td>
                Tên
            </td>
            <td>
                Mặt hàng
            </td>
            <td>Thao tác</td>
        </tr>
    </thead>
    <tbody>
        @{ CHUDE sp = new CHUDE();
                        var menuSp = sp.getData();
                        var i = 1;
                        foreach (var item in menuSp)
                        {
            <tr>
                <td>
                    @i
            </td>
            <td>
                @item.ID
        </td>
        <td>
            @item.Ten
    </td>
    <td>
        @{ var menutg2 = sp.getData2(item.ID);
                            foreach (var itemtg in menutg2)
                            {
                                <li>@itemtg.Ten</li> 
                            } 
         }
</td>
<td>
    @if (quyen.getDataQuyenNV(Session["maad"].ToString(), "sua_cd") == 1 || Session["maad"].ToString().Equals("admin"))
    {
<button type="button" class="btn btn-outline-danger a" data-toggle="modal" data-target="#exampleModal2" onclick="ChiTietCD('@item.ID')">
    Sửa thông tin
</button>}
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 800px; margin-left: -150px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Mã sản phẩm" aria-label="" aria-describedby="basic-addon1" disabled name="ma" id="masua">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Tên sản phẩm" aria-label="Tên" aria-describedby="basic-addon1" required name="ten" id="tensua">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <select class="form-control select2" name="loai" id="loaimathangsua">
                                    @{ var menunmh2 = cd.getData();
                                                        foreach (var item2 in menunmh2)
                                                        {
                                                            <option value="@item2.ID">@item2.Ten</option> 
                                                        } 
                                     }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p id="erroSua" style="color: red"></p>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="them" value="them" id="saveSuaCD">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
</td>
</tr> 
        i++;
            } 
    }
    </tbody>
</table>

