@{ ViewBag.Title = "Phiếu Nhập Chi Nhánh Khác";
                Layout = "~/Views/Shared/_LayoutPage1.cshtml"; 
 }
<style>
    .ui-helper-hidden-accessible {
        display: none;
    }
</style>
@using WebBanSachFahasa.Models;
@{ 
    CHINHANH cn = new CHINHANH();
    PHIEUNHAP pn = new PHIEUNHAP();
    PHIEUNHAPCT pnct = new PHIEUNHAPCT();
    SPCHINHANH Sp = new SPCHINHANH();
    var menupn = pn.getDataCT(Session["PN"].ToString());
    var ma = "";
    var macn = ""; 
}
<div class="row">
    @{ 
        foreach (var item in menupn)
        {
        ma = item.MAPHIEU;
        macn = item.MACN;
        <div class="col-xl-1">
        Mã Phiếu
        </div>
        <div class="col-xl-2">
        @item.MAPHIEU
        </div>
        <div class="col-xl-1">
        Người nhập
        </div>
        <div class="col-xl-2">
        @item.NGUOITAO
        </div>
        <div class="col-xl-1">
        Ngày xuất
        </div>
        <div class="col-xl-2">
            <input type="date" class="w-100 form-control" id="ngayxuat" />
        </div>
        <div class="col-xl-1">
        Nơi xuất
        </div>
        <div class="col-xl-2">
            <select class="select2 w-100 form-control" id="cn" onchange="myFunction3()">
        @{ 
            var menu2 = cn.getData2();
            foreach (var item2 in menu2)
            {
                var selected = "";
                if (item.MACN.Equals(item2.ID))
                {
                    selected = "selected='selected'";
                }
                    <option value="@item2.ID" @selected>@item2.Ten</option>
            } 
         }
            </select>
        </div>
        <div class="col-xl-1">
            Ghi chú
        </div>
        <div class="col-xl-2">
            <input type="text" class="w-100 form-control" id="ghichu" value="@item.GHICHU" />
        </div> } }
</div>
<div>
    <h3>CHI TIẾT PHIẾU XUẤT KHÁC</h3>
    <table class="table" id="table3">
        <thead>
            <tr>
                <td>STT</td>
                <td>MÃ SP</td>
                <td>Tên SP</td>
                <td>SL Tồn</td>
                <td>SL</td>
                <td>Ghi chú</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{ var menuItem = pnct.getData(Session["PN"].ToString());
                            var i = 0;
                            if (menuItem.Count > 0)
                            {
                                foreach (var item in menuItem)
                                {
                                    var deltailCode = "detail" + i + "Code";
                                    var deltailName = "detail" + i + "ItemName";
                                    var deltailSL = "detail" + i + "SL";
                                    var deltailSLT = "detail" + i + "SLT";
                                    var deltailGC = "detail" + i + "GC";
                                    var stt = i + 1;
                <tr>
                    <td>@stt</td>
                    <td><strong order="@i" id="@deltailCode">@item.MASP</strong></td>
                    <td>
                        <input type="text" class="item_name" order="@i" id="@deltailName" value="@item.NAME" autocomplete="off" />
                    </td>
                    <td><strong order="@i" class="autotab" id="@deltailSLT">@Sp.getDataSL(item.MASP, macn)</strong></td>
                    <td>
                        <input type="number" order="@i" class="autotab" id="@deltailSL" value="@item.SL" />
                    </td>
                    <td>
                        <input type="text" order="@i" class="autotab" id="@deltailGC" value="@item.GHICHU" />
                    </td>
                    <td><button type="button" class="btn btn-danger" name="them" value="them" onclick="xoaItem(@i)" style="margin-bottom: 17px">Xóa</button>
                </tr> i++;
                                }
                            } 
             }
            @{ for (int j = i; j <= 10; j++)
                            {
                                var deltailCode = "detail" + j + "Code";
                                var deltailName = "detail" + j + "ItemName";
                                var deltailSL = "detail" + j + "SL";
                                var deltailSLT = "detail" + j + "SLT";
                                var deltailGC = "detail" + j + "GC";
                                var stt = j;
                <tr>
                    <td>@stt</td>
                    <td><strong order="@i" id="@deltailCode"></strong></td>
                    <td>
                        <input type="text" class="item_name" order="@i" id="@deltailName" value="" autocomplete="off" />
                    </td>
                    <td><strong order="@i" class="autotab" id="@deltailSLT"></strong></td>
                    <td>
                        <input type="number" order="@i" class="autotab" id="@deltailSL" value="" />
                    </td>
                    <td>
                        <input type="text" order="@i" class="autotab" id="@deltailGC" value="" />
                    </td>
                    <td><button type="button" class="btn btn-danger" name="them" value="them" onclick="xoaItem(@i)" style="margin-bottom: 17px">Xóa</button>
                </tr> 
                } 
             }
        </tbody>
    </table>
    <button type="button" class="btn btn-success" onclick="suaphieunhapkhac(@ma)">Lưu</button>
    <button type="button" class="btn btn-info" onclick="btnLmMsKhac(@ma)">Làm mới</button>
    <strong id="erro" style="color:red"></strong>
</div>
<script type="text/javascript">$(document).ready(function () {
        document.getElementById('ngayxuat').valueAsDate = new Date();
    });</script>
