@{ 
    ViewBag.Title = "Các Loại Quyền Hành";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml"; 
}
@using WebBanSachFahasa.Models;
@{ 
    LOAIQUYENCUAQUYEN sp = new LOAIQUYENCUAQUYEN();
    var ma = Session["LOAIQUYEN"].ToString(); 
}
<button type="button" class="btn btn-outline-danger a" data-toggle="modal" onclick="luu('@ma.Replace(" ", "")')">
    Lưu
</button>
<div class="row">
    <div class="col-xl-6">
        <h1>LOẠI QUYỀN CÓ TRONG QUYỀN</h1>
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td>Mã</td>
                    <td>Tên</td>
                </tr>
            </thead>
            <tbody>
                @{ 
                    var menu = sp.getData2(ma);
                    if (menu.Count > 0)
                    {
                        foreach (var item in menu)
                        {
                    <tr>
                        <td>
                            <input type="checkbox" class="chkyes" checked="checked" data-id="@item.ID" />
                        </td>
                        <td>@item.Ma</td>
                        <td>@item.Ten</td>
                    </tr>
                        }
                    } 
                }
            </tbody>
        </table>
    </div>
    <div class="col-xl-6">
        <h1>LOẠI QUYỀN CHƯA CÓ TRONG QUYỀN</h1>
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td>Mã</td>
                    <td>Tên</td>
                </tr>
            </thead>
            <tbody>
                @{ 
                    var menu2 = sp.getData3(ma);
                    if (menu2.Count > 0)
                    {
                        foreach (var item in menu2)
                        {
                    <tr>
                        <td>
                            <input type="checkbox" class="chkbo" data-id="@item.ID" />
                        </td>
                        <td>@item.Ma</td>
                        <td>@item.Ten</td>
                    </tr>
                        }
                    } 
                }
                @{ 
                    var menu3 = sp.getData4(ma);
                    if (menu3.Count > 0)
                    {
                        foreach (var item in menu3)
                        {
                    <tr>
                        <td>
                            <input type="checkbox" class="chkthem" data-id="@item.ID" />
                        </td>
                        <td>@item.Ma</td>
                        <td>@item.Ten</td>
                    </tr>
                        }
                    } 
                }
            </tbody>
        </table>
    </div>
</div>
