@{ 
    ViewBag.Title = "Phiếu Nhập";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml"; 
}
<style>
    .ui-helper-hidden-accessible {
        display: none;
    }
</style>
@using WebBanSachFahasa.Models;
@{ 
    NHACCNHAP ncc = new NHACCNHAP();
    CHINHANH cn = new CHINHANH(); 
}
<div class="row">
    <div class="col-xl-1">
        NCC
    </div>
    <div class="col-xl-2">
        <select class="select2 w-100 form-control" id="ncc" onchange="myFunction()">
            <option value="">Chọn Nhà Cung cấp</option>
            @{ var menu = ncc.getData();
                            foreach (var item in menu)
                            {
                                <option value="@item.ID">@item.Ten</option>
                            } 
            }
        </select>
    </div>
    <div class="col-xl-1">
        Số HĐ
    </div>
    <div class="col-xl-2">
        <input type="text" class="w-100 form-control" id="sohd" />
    </div>
    <div class="col-xl-1">
        Kí hiệu HĐ
    </div>
    <div class="col-xl-2">
        <input type="text" class="w-100 form-control" id="kyhieu" />
    </div>
    <div class="col-xl-1">
        Ký hiệu mẫu HĐ
    </div>
    <div class="col-xl-2">
        <input type="text" class="w-100 form-control" id="mauhd" />
    </div>
    <div class="col-xl-1">
        Người nhập
    </div>
    <div class="col-xl-2">
        @Session["maad"]
    </div>
    <div class="col-xl-1">
        Ngày nhập
    </div>
    <div class="col-xl-2">
        <input type="date" class="w-100 form-control" id="ngaynhap" />
    </div>
    <div class="col-xl-1">
        Ngày HĐ
    </div>
    <div class="col-xl-2">
        <input type="date" class="w-100 form-control" id="ngayhd" />
    </div>
    <div class="col-xl-1">
        Ngày nhận HĐ
    </div>
    <div class="col-xl-2">
        <input type="date" class="w-100 form-control" id="ngaynhan" />
    </div>
    <div class="col-xl-1">
        CHI NHÁNH
    </div>
    <div class="col-xl-2">
        <select class="select2 w-100 form-control" id="cn" onchange="myFunction2()">
            @{ if (Session["maad"].ToString().Equals("admin"))
                {
                    var menu2 = cn.getData2();
                    foreach (var item in menu2)
                    {
                        <option value="@item.ID">@item.Ten</option>
                    }
                }
                else
                {
                    var menu2 = cn.getData2(Session["maad"].ToString());
                    foreach (var item in menu2)
                    {
                        <option value="@item.ID">@item.Ten</option>
                    }
                } }
        </select>
    </div>
    <div class="col-xl-1">
        Tổng tiền
    </div>
    <div class="col-xl-2">
        <input type="number" class="w-100 form-control" id="tong" />
    </div>
    <div class="col-xl-1">
        VAT
    </div>
    <div class="col-xl-2">
        <select class="form-control" id="vat">
            <option value="0">0</option>
            <option value="5" selected="selected">5</option>
            <option value="8">8</option>
            <option value="10">10</option>
        </select>
    </div>
    <div class="col-xl-1">
        Tiền VAT
    </div>
    <div class="col-xl-2">
        <input type="number" class="w-100 form-control" id="tienvat" />
    </div>
    <div class="col-xl-1">
        Thành tiền VAT
    </div>
    <div class="col-xl-2">
        <input type="number" class="w-100 form-control" id="thanhtienvat" />
    </div>
    <div class="col-xl-1">
        Ghi chú
    </div>
    <div class="col-xl-2">
        <input type="text" class="w-100 form-control" id="ghichu" />
    </div>
</div>
<div>
    <h3>CHI TIẾT PHIẾU NHẬP</h3>
    <table class="table" id="table2">
        <thead>
            <tr>
                <td>STT</td>
                <td>MÃ SP</td>
                <td>Tên SP</td>
                <td>SL</td>
                <td>Đơn giá</td>
                <td>Đơn giá VAT</td>
                <td>Thành tiền</td>
                <td>Thành tiền VAT</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{ 
                for (int i = 0; i < 10; i++)
                {
                    var deltailCode = "detail" + i + "Code";
                    var deltailName = "detail" + i + "ItemName";
                    var deltailSL = "detail" + i + "SL";
                    var deltailTT = "detail" + i + "TT";
                    var deltailVAT = "detail" + i + "TTVAT";
                    var deltailDG = "detail" + i + "DG";
                    var deltailDGVAT = "detail" + i + "DGVAT";
                    var stt = i + 1;
                <tr>
                    <td>@stt</td>
                    <td><strong order="@i" id="@deltailCode"></strong></td>
                    <td>
                        <input type="text" class="item_name" order="@i" id="@deltailName" value="" autocomplete="off" />
                    </td>
                    <td>
                        <input type="number" order="@i" class="autotab" id="@deltailSL" />
                    </td>
                    <td><strong order="@i" class="autotab" id="@deltailDG"></strong></td>
                    <td><strong order="@i" class="autotab" id="@deltailDGVAT"></strong></td>
                    <td>
                        <input type="number" order="@i" class="autotab" id="@deltailTT" />
                    </td>
                    <td>
                        <strong order="@i" class="autotab" id="@deltailVAT"></strong>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" name="them" value="them" onclick="xoaItem(@i)" style="margin-bottom: 17px">Xóa</button>
                </tr> } 
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-success" id="btnLuu">Lưu</button>
    <button type="button" class="btn btn-info" id="btnLmMs">Làm mới</button>
    <strong id="erro" style="color: red"></strong>
</div>
