@{ 
    ViewBag.Title = "Thanh Toán"; 
}
@using WebBanSachFahasa.Models;
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<link href="~/Content/dinhdang.css" rel="stylesheet" />
<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-xl-6">
            @using (Html.BeginForm("THANHTOAN", "THANHTOAN", FormMethod.Post, new { @class = "" }))
            {
                if ((Boolean)Session["log"] == false)
                {
                    <a href="/DANGNHAP/DangKy">Bạn chưa có tài khoản?</a>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                </svg>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Họ tên" aria-describedby="basic-addon1" required name="hoten">
                    </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1" required name="email">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Số điện thoại" aria-label="Tên" aria-describedby="basic-addon1" required name="sdt" value=@Session["Ten"]>
                                </div>
                            </div>
                        </div> 
                }
                else
                {
                    KHACHHANG kh = new KHACHHANG();
                    var menu = kh.getData(Session["Email"].ToString());
                    if (menu != null)
                    {
                        foreach (var item in menu)
                        {
                            var ten = @item.Ho + @item.Ten;
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                    </svg>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Họ tên" aria-describedby="basic-addon1" required name="hoten" readonly value="@ten">
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1" required name="email" readonly value=@Session["Email"].ToString()>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Số điện thoại" aria-label="Tên" aria-describedby="basic-addon1" required name="sdt" value=@Session["Ten"]>
                                </div>
                            </div>
                        </div> 
                        }
                    }
                }
                <p>Địa chỉ giao hàng</p>
                <div class="row">
                    <div class="col-xl-6">
                        <select class="form-control" name="calc_shipping_provinces">
                            <option value="">Tỉnh, thành phố</option>
                        </select>
                        <input class="form-control billing_address_1" type="hidden" placeholder="Chọn tỉnh, thành" name="tp" required>
                    </div>
                    <div class="col-xl-6">
                        <select class="form-control" name="calc_shipping_district">
                            <option value="">Quận, huyện</option>
                        </select>
                        <input class="form-control billing_address_2" type="hidden" placeholder="Chọn quận, huyện" name="qh" required>
                    </div>
                    <div class="col-xl-6" style="margin-top: 10px">
                        <input type="text" class="form-control" placeholder="Phường, xã" name="ph" required>
                    </div>
                    <div class="col-xl-6" style="margin-top: 10px">
                        <input type="text " class="form-control" placeholder="Số nhà, tên đường" name="td" required>
                    </div>
                </div>
                <input type="text" id="textchk" onclick="checkDTL()" name="chk" hidden />
                <div class="row" style="margin-top: 10px">
                    <div class="col-6">
                        <a href="/GIOHANG/GIOHANG">Giỏ hàng</a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-outline-warning" name="thanhtoan" value="thanhtoan">THANH TOÁN</button>
                    </div>
                </div>            
             }
        </div>
        <div class="col-xl-6" style="border-left: 1px inset black">
            <table class="table">
                <tbody>
                    @{ 
                        var tong2 = 0;
                        if (ViewBag.TT != null)
                        {
                            if (int.Parse(Session["HTKM"].ToString()) == 1)
                            {
                                tong2 = int.Parse(ViewBag.TT);
                            }
                            else
                            {
                                tong2 = int.Parse(ViewBag.TT);
                            }
                        }
                        SANPHAM sp = new SANPHAM();
                        var tong = 0;
                        var mneu = Session["GH"] as List<GIOHANG>;
                        if (mneu != null)
                        {
                            foreach (var item in mneu)
                            {
                                var menu = sp.getDataCT(item.ID);
                                foreach (var item2 in menu)
                                {
                                    var thanhtien = int.Parse(item2.GIABAN) * item.SL;
                                    tong += thanhtien;
                        <tr>
                            @{ 
                                SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                var sanPhamHinh = SPH.getData(@item2.MASP);
                                foreach (var itemHinh in sanPhamHinh)
                                {
                                    var hinh = "/IMG/" + itemHinh.HINH;
                                <th scope="row">
                                    <img src="@hinh" style="width: 80px; height: 80px" />
                                </th> 
                                } 
                            }
                            <td>@item2.TENSP</td>
                            <td>@int.Parse(item2.GIABAN).ToString("N0")</td>
                        </tr> 
                                }
                            }
                        }
                        var thanhtien1 = 0;
                        var tienKM = 0;
                        if (int.Parse(Session["HTKM"].ToString()) == 1)
                        {
                            thanhtien1 = @tong - (@tong * @tong2 / 100);
                            tienKM = (@tong * @tong2 / 100);
                        }
                        else
                        {
                            if (ViewBag.TT != null)
                            {
                                tienKM = int.Parse(ViewBag.TT);
                            }
                            thanhtien1 = @tong - @tong2;

                        } 
                    }
                </tbody>
            </table>
            <hr />
            @using (Html.BeginForm("THANHTOAN", "THANHTOAN", FormMethod.Post, new { @class = "" }))
            {
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" required name="txt_km" placeholder="Mã Giảm Giá">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" name="km" value="km">
                            SỬ DỤNG
                        </button>
                    </div>
                </div>
                <label style="color: red">@ViewBag.TB</label>            
            }
            <hr />
            <div class="row">
                <label class="col-6">
                    Tạm tính
                </label>
                <label class="col-6 text-right">
                    @tong.ToString("N0") VND
                </label>
                <label class="col-6">
                    Khuyến mãi
                </label>
                <label class="col-6 text-right">
                    - @tienKM.ToString("N0") VND
                </label>
                @{ if ((Boolean)Session["log"] == true)
                    {
                    <label class="col-6">
                        Xu
                    </label>
                        <label class="col-6 text-right">
                            -
                            @{ 
                                KHACHHANG kh = new KHACHHANG();
                                var diem = kh.getDataTL(Session["Email"].ToString()); 
                            }
                            <span id="textDiem">@diem.ToString("N0")</span> VND
                                <input type="checkbox" id="chk" onclick="checkDTL()" name="chk2" />
                        </label> 
                    } 
                }
            </div>
            <hr />
            <div class="row">
                <label class="col-6">
                    Thành tiền
                </label>
                <label class="col-6 text-right">
                    <span id="textTT"> @thanhtien1.ToString("N0")</span>
                    <input type="text" value="@thanhtien1" id="thanhtien1" hidden name="thanhtien1" />
                </label>
            </div>
        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
    <script>//<![CDATA[
        if (address_2 = localStorage.getItem('address_2_saved')) {
            $('select[name="calc_shipping_district"] option').each(function () {
                if ($(this).text() == address_2) {
                    $(this).attr('selected', '')
                }
            })
            $('input.billing_address_2').attr('value', address_2)
        }
        if (district = localStorage.getItem('district')) {
            $('select[name="calc_shipping_district"]').html(district)
            $('select[name="calc_shipping_district"]').on('change', function () {
                var target = $(this).children('option:selected')
                target.attr('selected', '')
                $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
                address_2 = target.text()
                $('input.billing_address_2').attr('value', address_2)
                district = $('select[name="calc_shipping_district"]').html()
                localStorage.setItem('district', district)
                localStorage.setItem('address_2_saved', address_2)
            })
        }
        $('select[name="calc_shipping_provinces"]').each(function () {
            var $this = $(this),
                stc = ''
            c.forEach(function (i, e) {
                e += +1
                stc += '<option value=' + e + '>' + i + '</option>'
                $this.html('<option value="">Tỉnh, thành</option>' + stc)
                if (address_1 = localStorage.getItem('address_1_saved')) {
                    $('select[name="calc_shipping_provinces"] option').each(function () {
                        if ($(this).text() == address_1) {
                            $(this).attr('selected', '')
                        }
                    })
                    $('input.billing_address_1').attr('value', address_1)
                }
                $this.on('change', function (i) {
                    i = $this.children('option:selected').index() - 1
                    var str = '',
                        r = $this.val()
                    if (r != '') {
                        arr[i].forEach(function (el) {
                            str += '<option value="' + el + '">' + el + '</option>'
                            $('select[name="calc_shipping_district"]').html('<option value="">Quận, huyện</option>' + str)
                        })
                        var address_1 = $this.children('option:selected').text()
                        var district = $('select[name="calc_shipping_district"]').html()
                        localStorage.setItem('address_1_saved', address_1)
                        localStorage.setItem('district', district)
                        $('select[name="calc_shipping_district"]').on('change', function () {
                            var target = $(this).children('option:selected')
                            target.attr('selected', '')
                            $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
                            var address_2 = target.text()
                            $('input.billing_address_2').attr('value', address_2)
                            district = $('select[name="calc_shipping_district"]').html()
                            localStorage.setItem('district', district)
                            localStorage.setItem('address_2_saved', address_2)
                        })
                    } else {
                        $('select[name="calc_shipping_district"]').html('<option value="">Quận, huyện</option>')
                        district = $('select[name="calc_shipping_district"]').html()
                        localStorage.setItem('district', district)
                        localStorage.removeItem('address_1_saved', address_1)
                    }
                })
            })
        })
        //]]>
        function checkDTL() {
            // Get the checkbox
            var checkBox = document.getElementById("chk");
            // Get the output text
            var text = document.getElementById("thanhtien1");
            // If the checkbox is checked, display the output text
            console.log();
            if (checkBox.checked == true) {
                var tong = $('#thanhtien1').val() - $('#textDiem').text().replace(',', '');
                $('#textTT').text(tong.toLocaleString('en-US'));
                $('#thanhtien1').val(tong);
                $('#textchk').val(1);
            } else {
                var tong = Number($('#thanhtien1').val()) + Number($('#textDiem').text().replace(',', ''));
                $('#textTT').text(tong.toLocaleString('en-US'));
                $('#thanhtien1').val(tong);
                $('#textchk').val(0);
            }
        }</script>
</div>
