@{ 
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout1.cshtml"; 
}
@using WebBanSachFahasa.Models;
<div class="row">
    <div class="col-xl-9 col-md-9">
        <div id="bangtruyenanh" class="carousel slide" data-ride="carousel" style="margin-top: 10px">
            <ol class="carousel-indicators">
                @{ 
                    QUANGCAO QC = new QUANGCAO();
                    var quangCao = QC.getData();
                    var i = 0;
                    foreach (var item in quangCao)
                    {
                        if (i == 0)
                        {
                            <li data-target="#bangtruyenanh" data-slide-to="@i" class="active"></li> }
                        else
                        {
                            <li data-target="#bangtruyenanh" data-slide-to="@i"></li> }
                        i++;
                    } 
                }
            </ol>
            <div class="carousel-inner">
                @{ 
                    var j = 0;
                    foreach (var item in quangCao)
                    {
                        var hinh = "/IMG/" + item.Ten;
                        if (j == 0)
                        {
                    <div class="carousel-item active">
                        <a href="#">
                            <img src="@hinh" class="d-block w-100" style="height:300px">
                        </a>
                    </div> 
                        }
                        else
                        {
                    <div class="carousel-item">
                        <a href="#">
                            <img src="@hinh" class="d-block w-100" style="height:300px">
                        </a>
                    </div> 
                        }
                        j++;
                    } 
                }
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-3" style="margin-top: 5px">
        <div class="row">
            <div class="col-12">
                <img src="/IMG/FahasaT12_392x156.png" class="w-100">

            </div>
            <div class="col-12">
                <img src="/IMG/FahasaT1222_Bộ1_392x156PNG.png" class="w-100">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-xl-3 col-6">
        <img src="/IMG/FahasaT1222_Bộ2_310x210PNG.png" class="w-100">
    </div>
    <div class="col-xl-3 col-6">
        <img src="/IMG/Trangkinhte_T12_310x210.png" class="w-100">
    </div>
    <div class="col-xl-3 col-6">
        <img src="/IMG/Trangdochoi_310x210_3_1.png" class="w-100">
    </div>
    <div class="col-xl-3 col-6">
        <img src="/IMG/VNPAYT1222_310x210PNG.png" class="w-100">
    </div>
</div>



<ul class="nav nav-tabs" style="margin-top: 10px">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" style="color: black">Sách Giáo Khoa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1" style="color: black">Sách Tham Khảo</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="home" class="container tab-pane active">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @{ 
                            SANPHAM SP = new SANPHAM();
                            var sanPham = SP.getDataSP("LCDH004", 6);
                            foreach (var item in sanPham)
                            {
                                var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                            <div class="col-xl-2 col-sm-4 col-12">
                                <div class="card">
                                    <a href="@link">
                                        <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                            <div class="text-center">
                                                @{ 
                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                    foreach (var itemHinh in sanPhamHinh)
                                                    {
                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                    <img class="card-img-top w-100" src="@hinh" style="height:205px" /> } }

                                            </div>
                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                            <div style="margin-right: 10px">
                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                {
                                            <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                Thêm giỏ hàng
                                            </button>}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> 
                            } 
                        }
                    </div>
                </div>
                @{ 
                    var sanPham2 = SP.getDataSP2("LCDH004", 7, 6);
                    if (sanPham2.Count > 0)
                    {
                    <div class="carousel-item">
                        <div class="row">
                            @{ 
                                foreach (var item in sanPham2)
                                {
                                    var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                <div class="col-xl-2 col-sm-4 col-12">
                                    <div class="card">
                                        <a href="@link">
                                            <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                                <div class="text-center">
                                                    @{ 
                                                        SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                        var sanPhamHinh = SPH.getData(@item.MASP);
                                                        foreach (var itemHinh in sanPhamHinh)
                                                        {
                                                            var hinh = "/IMG/" + itemHinh.HINH;
                                                            <img class="card-img-top w-100" src="@hinh" style="height:205px" /> 
                                                        } 
                                                    }

                                                </div>
                                                <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                <div style="margin-right: 10px">
                                                    @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                    {
                                                        <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                            Thêm giỏ hàng
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div> 
                                } 
                            }
                        </div>
                    </div> 
                    } 
                }
                @{ 
                    var sanPham3 = SP.getDataSP2("LCDH004", 13, 6);
                    if (sanPham3.Count > 0)
                    {
                    <div class="carousel-item">
                        <div class="row">
                            @{ 
                                foreach (var item in sanPham3)
                                {
                                    var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                <div class="col-xl-2 col-sm-4 col-12">
                                    <div class="card">
                                        <a href="@link">
                                            <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                                <div class="text-center">
                                                    @{ 
                                                        SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                        var sanPhamHinh = SPH.getData(@item.MASP);
                                                        foreach (var itemHinh in sanPhamHinh)
                                                        {
                                                            var hinh = "/IMG/" + itemHinh.HINH;
                                                            <img class="card-img-top w-100" src="@hinh" style="height:205px" /> 
                                                        } 
                                                    }

                                                </div>
                                                <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                <div style="margin-right: 10px">
                                                    @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                    {
                                                        <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                            Thêm giỏ hàng
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div> 
                                } 
                            }
                        </div>
                    </div> 
                    } 
                }
            </div>
        </div>
        <div class="text-center" style="margin-top: 10px">
            <a href="/DSSP/LOAICHUDE/LCDH004" class="btn btn-outline-danger">Xem Thêm</a>
        </div>
    </div>
    <div id="menu1" class="container tab-pane fade">
        <br>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    @{ 
                        var sanPham5 = SP.getDataSP("LCDH005", 6);
                        foreach (var item in sanPham5)
                        {
                            var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                        <div class="col-xl-2 col-sm-4 col-12">
                            <div class="card">
                                <a href="@link">
                                    <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                        <div class="text-center">
                                            @{ 
                                                SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                var sanPhamHinh = SPH.getData(@item.MASP);
                                                foreach (var itemHinh in sanPhamHinh)
                                                {
                                                    var hinh = "/IMG/" + itemHinh.HINH;
                                                    <img class="card-img-top w-100" src="@hinh" style="height:205px" /> 
                                                } 
                                            }

                                        </div>
                                        <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                        <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                        <div style="margin-right: 10px">
                                            @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                            {
                                                <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                    Thêm giỏ hàng
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> 
                        } 
                    }
                </div>
            </div>
            @{ 
                var sanPham6 = SP.getDataSP2("LCDH005", 7, 6);
                if (sanPham6.Count > 0)
                {
                <div class="carousel-item">
                    <div class="row">
                        @{ 
                            foreach (var item in sanPham6)
                            {
                                var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                            <div class="col-xl-2 col-sm-4 col-12">
                                <div class="card">
                                    <a href="@link">
                                        <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                            <div class="text-center">
                                                @{ 
                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                    foreach (var itemHinh in sanPhamHinh)
                                                    {
                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                        <img class="card-img-top w-100" src="@hinh" style="height:205px" /> 
                                                    } 
                                                }

                                            </div>
                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                            <div style="margin-right: 10px">
                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                {
                                                    <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                        Thêm giỏ hàng
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> 
                            }
                        }
                    </div>
                </div> 
                } 
            }
            @{ 
                var sanPham7 = SP.getDataSP2("LCDH005", 13, 6);
                if (sanPham7.Count > 0)
                {
                <div class="carousel-item">
                    <div class="row">
                        @{ 
                            foreach (var item in sanPham7)
                            {
                                var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                            <div class="col-xl-2 col-sm-4 col-12">
                                <div class="card">
                                    <a href="@link">
                                        <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                            <div class="text-center">
                                                @{ 
                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                    foreach (var itemHinh in sanPhamHinh)
                                                    {
                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                        <img class="card-img-top w-100" src="@hinh" style="height:205px" /> 
                                                    } 
                                                }

                                            </div>
                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                            <div style="margin-right: 10px">
                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                {
                                                    <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                        Thêm giỏ hàng
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> 
                            }
                        }
                    </div>
                </div> 
                }
            }
        </div>
        <div class="text-center" style="margin-top: 10px">
            <a href="/DSSP/LOAICHUDE/LCDH005" class="btn btn-outline-danger">Xem Thêm</a>
        </div>
    </div>
</div>


<ul class="nav nav-tabs" style="margin-top: 10px">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#menu2" style="color: black">Tiểu Thuyết</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3" style="color: black">Ngôn tình</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="menu2" class="container tab-pane active">
        <br>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @{ 
                            var sanPham8 = SP.getDataSP("LCDH001", 6);
                            foreach (var item in sanPham8)
                            {
                                var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                            <div class="col-xl-2 col-sm-4 col-12">
                                <div class="card">
                                    <a href="@link">
                                        <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                            <div class="text-center">
                                                @{ 
                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                    foreach (var itemHinh in sanPhamHinh)
                                                    {
                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                        <img class="card-img-top w-100" src="@hinh" style="height:205px" /> 
                                                    } 
                                                }

                                            </div>
                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                            <div style="margin-right: 10px">
                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                {
                                                    <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                        Thêm giỏ hàng
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> 
                            }
                        }
                    </div>
                </div>
                @{ 
                    var sanPham9 = SP.getDataSP2("LCDH001", 7, 6);
                    if (sanPham9.Count > 0)
                    {
                    <div class="carousel-item">
                        <div class="row">
                            @{ 
                                foreach (var item in sanPham9)
                                {
                                    var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                <div class="col-xl-2 col-sm-4 col-12">
                                    <div class="card">
                                        <a href="@link">
                                            <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                                <div class="text-center">
                                                    @{ 
                                                        SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                        var sanPhamHinh = SPH.getData(@item.MASP);
                                                        foreach (var itemHinh in sanPhamHinh)
                                                        {
                                                            var hinh = "/IMG/" + itemHinh.HINH;
                                                            <img class="card-img-top w-100" src="@hinh" style="height:205px" /> 
                                                        }
                                                    }

                                                </div>
                                                <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                <div style="margin-right: 10px">
                                                    @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                    {
                                                        <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                            Thêm giỏ hàng
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div> 
                                }
                            }
                        </div>
                    </div> 
                    } 
                }
                @{ 
                    var sanPham10 = SP.getDataSP2("LCDH001", 13, 6);
                    if (sanPham10.Count > 0)
                    {
                    <div class="carousel-item">
                        <div class="row">
                            @{ 
                                foreach (var item in sanPham10)
                                {
                                    var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                <div class="col-xl-2 col-sm-4 col-12">
                                    <div class="card">
                                        <a href="@link">
                                            <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                                <div class="text-center">
                                                    @{ 
                                                        SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                        var sanPhamHinh = SPH.getData(@item.MASP);
                                                        foreach (var itemHinh in sanPhamHinh)
                                                        {
                                                            var hinh = "/IMG/" + itemHinh.HINH;
                                                            <img class="card-img-top w-100" src="@hinh" style="height:205px" /> 
                                                        } 
                                                    }

                                                </div>
                                                <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                <div style="margin-right: 10px">
                                                    @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                    {
                                                        <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                            Thêm giỏ hàng
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </div> 
                    }
                }
            </div>
        </div>
        <div class="text-center" style="margin-top: 10px">
            <a href="/DSSP/LOAICHUDE/LCDH001" class="btn btn-outline-danger">Xem Thêm</a>
        </div>
    </div>
    <div id="menu3" class="container tab-pane fade">
        <br>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    @{ 
                        var sanPham11 = SP.getDataSP("LCDH003", 6);
                        foreach (var item in sanPham11)
                        {
                            var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                        <div class="col-xl-2 col-sm-4 col-12">
                            <div class="card">
                                <a href="@link">
                                    <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                        <div class="text-center">
                                            @{ 
                                                SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                var sanPhamHinh = SPH.getData(@item.MASP);
                                                foreach (var itemHinh in sanPhamHinh)
                                                {
                                                    var hinh = "/IMG/" + itemHinh.HINH;
                                                    <img class="card-img-top w-100" src="@hinh" style="height:205px" />
                                                } 
                                            }

                                        </div>
                                        <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                        <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                        <div style="margin-right: 10px">
                                            @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                            {
                                                <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                    Thêm giỏ hàng
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> 
                        }
                    }
                </div>
            </div>
            @{ 
                var sanPham12 = SP.getDataSP2("LCDH003", 7, 6);
                if (sanPham12.Count > 0)
                {
                <div class="carousel-item">
                    <div class="row">
                        @{ 
                            foreach (var item in sanPham12)
                            {
                                var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                            <div class="col-xl-2 col-sm-4 col-12">
                                <div class="card">
                                    <a href="@link">
                                        <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                            <div class="text-center">
                                                @{ 
                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                    foreach (var itemHinh in sanPhamHinh)
                                                    {
                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                        <img class="card-img-top w-100" src="@hinh" style="height:205px" />
                                                    }
                                                }

                                            </div>
                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                            <div style="margin-right: 10px">
                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                {
                                                    <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                        Thêm giỏ hàng
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> 
                            }
                        }
                    </div>
                </div> 
                }
            }
            @{ 
                var sanPham13 = SP.getDataSP2("LCDH003", 13, 6);
                if (sanPham13.Count > 0)
                {
                <div class="carousel-item">
                    <div class="row">
                        @{ 
                            foreach (var item in sanPham13)
                            {
                                var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                            <div class="col-xl-2 col-sm-4 col-12">
                                <div class="card">
                                    <a href="@link">
                                        <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px">
                                            <div class="text-center">
                                                @{ 
                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                    foreach (var itemHinh in sanPhamHinh)
                                                    {
                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                        <img class="card-img-top w-100" src="@hinh" style="height:205px" /> 
                                                    }
                                                }

                                            </div>
                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                            <div style="margin-right: 10px">
                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                {
                                                    <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                        Thêm giỏ hàng
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> 
                            }
                        }
                    </div>
                </div> 
                }
            }
        </div>
        <div class="text-center" style="margin-top: 10px">
            <a href="/DSSP/LOAICHUDE/LCDH003" class="btn btn-outline-danger">Xem Thêm</a>
        </div>
    </div>
</div>


<h2>Đồ Chơi</h2>
<ul class="nav nav-tabs" style="margin-top: 10px">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#menu4" style="color: black">Đồ Chơi Nổi Bật</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu5" style="color: black">Đồ Chơi Giáo Dục</a>
    </li>
</ul>
<div class="row" style="margin-top: 10px">
    <div class="col-xl-4 col-12">
        <img src="/IMG/5702017117232_1.jpg" class="w-100" />
    </div>
    <div class="col-xl-8 col-12">
        <div class="tab-content">
            <div id="menu4" class="container tab-pane active">
                <br>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                @{ 
                                    var sanPham15 = SP.getDataSP("LCDH008", 4);
                                    foreach (var item in sanPham15)
                                    {
                                        var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                    <div class="col-xl-6 col-sm-6 col-12">
                                        <div class="card">
                                            <a href="@link">
                                                <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            @{ 
                                                                SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                                var sanPhamHinh = SPH.getData(@item.MASP);
                                                                foreach (var itemHinh in sanPhamHinh)
                                                                {
                                                                    var hinh = "/IMG/" + itemHinh.HINH;
                                                                <img class="card-img-top w-100" src="@hinh" style="height:178px" /> } }
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                            <div style="margin-right: 10px">
                                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                                {
                                                                    <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                                        Thêm giỏ hàng
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                        </div>
                        @{ 
                            var sanPham16 = SP.getDataSP2("LCDH008", 4, 4);
                            if (sanPham16.Count > 0)
                            {
                            <div class="carousel-item">
                                <div class="row">
                                    @{ 
                                        foreach (var item in sanPham16)
                                        {
                                            var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <a href="@link">
                                                    <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                                                        <div class="row">
                                                            <div class="col-xl-6">
                                                                @{ 
                                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                                    foreach (var itemHinh in sanPhamHinh)
                                                                    {
                                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                                        <img class="card-img-top w-100" src="@hinh" style="height:178px" /> 
                                                                        } 
                                                                }
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                                <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                                <div style="margin-right: 10px">
                                                                    @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                                    {
                                                                        <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                                            Thêm giỏ hàng
                                                                        </button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div> 
                                        }
                                    }
                                </div>
                            </div> 
                            }
                        }
                    </div>
                </div>
                <div class="text-center" style="margin-top: 10px">
                    <a href="/DSSP/LOAICHUDE/LCDH008" class="btn btn-outline-danger">Xem Thêm</a>
                </div>
            </div>
            <div id="menu5" class="container tab-pane fade">
                <br>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                @{ 
                                    var sanPham17 = SP.getDataSP("LCDH009", 4);
                                    foreach (var item in sanPham17)
                                    {
                                        var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                    <div class="col-xl-6 col-sm-6 col-12">
                                        <div class="card">
                                            <a href="@link">
                                                <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            @{ 
                                                                SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                                var sanPhamHinh = SPH.getData(@item.MASP);
                                                                foreach (var itemHinh in sanPhamHinh)
                                                                {
                                                                    var hinh = "/IMG/" + itemHinh.HINH;
                                                                    <img class="card-img-top w-100" src="@hinh" style="height:178px" /> 
                                                                } 
                                                            }
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                            <div style="margin-right: 10px">
                                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                                {
                                                                    <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                                        Thêm giỏ hàng
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div> 
                                    }
                                }
                            </div>
                        </div>
                        @{ 
                            var sanPham18 = SP.getDataSP2("LCDH009", 4, 4);
                            if (sanPham18.Count > 0)
                            {
                            <div class="carousel-item">
                                <div class="row">
                                    @{ 
                                        foreach (var item in sanPham18)
                                        {
                                            var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <a href="@link">
                                                    <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                                                        <div class="row">
                                                            <div class="col-xl-6">
                                                                @{ 
                                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                                    foreach (var itemHinh in sanPhamHinh)
                                                                    {
                                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                                        <img class="card-img-top w-100" src="@hinh" style="height:178px" /> 
                                                                    }
                                                                }
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                                <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                                <div style="margin-right: 10px">
                                                                    @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                                    {
                                                                        <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                                            Thêm giỏ hàng
                                                                        </button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div> 
                                        }
                                    }
                                </div>
                            </div> 
                            }
                        }
                    </div>
                </div>
                <div class="text-center" style="margin-top: 10px">
                    <a href="/DSSP/LOAICHUDE/LCDH009" class="btn btn-outline-danger">Xem Thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 style="margin-top: 10px">Thiếu Nhi</h2>
<ul class="nav nav-tabs" style="margin-top: 10px">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#menu6" style="color: black">Manga - Comic</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu7" style="color: black">Kiến Thức Bách Khoa</a>
    </li>
</ul>
<div class="row" style="margin-top: 10px">
    <div class="col-xl-4 col-12">
        <img src="/IMG/image_180164_1_43_1_57_1_4_1_2_1_210_1_29_1_98_1_25_1_21_1_5_1_3_1_18_1_18_1_45_1_26_1_32_1_14_1_1233.jpg" class="w-100" />
    </div>
    <div class="col-xl-8 col-12">
        <div class="tab-content">
            <div id="menu6" class="container tab-pane active">
                <br>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                @{ 
                                    var sanPham21 = SP.getDataSP("LCDH010", 4);
                                    foreach (var item in sanPham21)
                                    {
                                        var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                    <div class="col-xl-6 col-sm-6 col-12">
                                        <div class="card">
                                            <a href="@link">
                                                <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            @{ 
                                                                SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                                var sanPhamHinh = SPH.getData(@item.MASP);
                                                                foreach (var itemHinh in sanPhamHinh)
                                                                {
                                                                    var hinh = "/IMG/" + itemHinh.HINH;
                                                                    <img class="card-img-top w-100" src="@hinh" style="height:178px" /> 
                                                                } 
                                                            }
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                            <div style="margin-right: 10px">
                                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                                {
                                                                    <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                                        Thêm giỏ hàng
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div> 
                                    }
                                }
                            </div>
                        </div>
                        @{ 
                            var sanPham19 = SP.getDataSP2("LCDH010", 4, 4);
                            if (sanPham19.Count > 0)
                            {
                            <div class="carousel-item">
                                <div class="row">
                                    @{ 
                                        foreach (var item in sanPham19)
                                        {
                                            var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <a href="@link">
                                                    <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                                                        <div class="row">
                                                            <div class="col-xl-6">
                                                                @{ 
                                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                                    foreach (var itemHinh in sanPhamHinh)
                                                                    {
                                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                                        <img class="card-img-top w-100" src="@hinh" style="height:178px" /> 
                                                                    }
                                                                }
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                                <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                                <div style="margin-right: 10px">
                                                                    @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                                    {
                                                                        <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                                            Thêm giỏ hàng
                                                                        </button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div> 
                                        }
                                    }
                                </div>
                            </div> 
                            }
                        }
                    </div>
                </div>
                <div class="text-center" style="margin-top: 10px">
                    <a href="/DSSP/LOAICHUDE/LCDH010" class="btn btn-outline-danger">Xem Thêm</a>
                </div>
            </div>
            <div id="menu7" class="container tab-pane fade">
                <br>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                @{ 
                                    var sanPham20 = SP.getDataSP("LCDH011", 4);
                                    foreach (var item in sanPham20)
                                    {
                                        var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                    <div class="col-xl-6 col-sm-6 col-12">
                                        <div class="card">
                                            <a href="@link">
                                                <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            @{ 
                                                                SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                                var sanPhamHinh = SPH.getData(@item.MASP);
                                                                foreach (var itemHinh in sanPhamHinh)
                                                                {
                                                                    var hinh = "/IMG/" + itemHinh.HINH;
                                                                    <img class="card-img-top w-100" src="@hinh" style="height:178px" /> 
                                                                }
                                                            }
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                            <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                            <div style="margin-right: 10px">
                                                                @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                                {
                                                                    <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                                        Thêm giỏ hàng
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div> 
                                    }
                                }
                            </div>
                        </div>
                        @{ 
                            var sanPham22 = SP.getDataSP2("LCDH011", 4, 4);
                            if (sanPham22.Count > 0)
                            {
                            <div class="carousel-item">
                                <div class="row">
                                    @{ 
                                        foreach (var item in sanPham22)
                                        {
                                            var link = "/CHITIETSP/CHITIETSP/" + item.MASP;
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <a href="@link">
                                                    <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                                                        <div class="row">
                                                            <div class="col-xl-6">
                                                                @{
                                                                    SANPHAMHINHANH SPH = new SANPHAMHINHANH();
                                                                    var sanPhamHinh = SPH.getData(@item.MASP);
                                                                    foreach (var itemHinh in sanPhamHinh)
                                                                    {
                                                                        var hinh = "/IMG/" + itemHinh.HINH;
                                                                        <img class="card-img-top w-100" src="@hinh" style="height:178px" /> 
                                                                    }
                                                                }
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.TENSP</p>
                                                                <p style="color: red; font-weight: bold">@int.Parse(item.GIABAN).ToString("N0") đ</p>
                                                                <div style="margin-right: 10px">
                                                                    @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { @class = "" }))
                                                                    {
                                                                        <button class="btn btn-outline-warning w-100" name="mua" value="@item.MASP.Replace(" ", "")" type="submit" style="border-radius:25px">
                                                                            Thêm giỏ hàng
                                                                        </button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div> 
                                        }
                                    }
                                </div>
                            </div> 
                            }
                        }
                    </div>
                </div>
                <div class="text-center" style="margin-top: 10px">
                    <a href="/DSSP/LOAICHUDE/LCDH011" class="btn btn-outline-danger">Xem Thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
